* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* atentie vh iti ia ca si referinta stric viewport-ul, dar continutul tau poate sa depaseasca asta, unde intervine scroll-ul. drept urmare nu are efect, adaug un border ca sa fie mai clar, dar si acel background gri explica acelasi lucru, se vede si in inregistrarea atasata. */
body {
    height: 100vh;
    border: 1px solid red;
}

.picture-wrapper {
    width: 30%;
    margin: auto;
    position: relative;
    max-width: 500px;
}

.picture-wrapper>img {
    width: 100%;
    height: auto;
}

.website-background {
    background-color: #d3d3d3;
    height: 100%;
    padding: 50px;
}

/* atentie la h1, nu este centrat si nu se incadreaza pe un rand, ai nevoie de cateva limitari aici */
.picture-wrapper>h1 {
    position: absolute;
    top: 40%;
    background-color: #d3d3d3;
    font-size: 2rem;
    padding: 10px;
    font-weight: 100;
}

.form-content {
    padding: 30px;
    background-color: #fff;
}

.input-wrapper>input {
    padding: 5px;
    display: block;
}

.input-wrapper>label {
    padding-bottom: 10px;
    display: inline-block;
}

.form-content>form>fieldset {
    border: none;
}

.pad-bottom-25 {
    padding-bottom: 25px;
}

.pad-bottom-10 {
    padding-bottom: 10px;
}

.no-border-textbox {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}

.m-top-50 {
    margin-top: 50px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 10px 30px;
    display: block;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    width: 100px;
    background-color: rgb(110, 107, 107);
}

.d-inline-block {
    display: inline-block;
}

.gray-square {
    width: 50px;
    height: 50px;
    background-color: #686565;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.grades-wrapper {
    display: flex;
}

.grades-wrapper>.gray-square,
.grades-wrapper>.gray-rounded-square {
    margin-right: 25px;
}

.grades-wrapper>.gray-square:last-child,
.grades-wrapper>.gray-rounded-square:last-child {
    margin-right: 0;
}

.selected {
    background-color: #38daa1 !important;
}

.opinion {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    padding-top: 5px;
}

.w-350 {
    width: 350px;
}

.w-600 {
    width: 600px;
}

.space-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.pad-left {
    padding-left: 5px;
}

.gray-rounded-square {
    width: 50px;
    height: 50px;
    background-color: #686565;
    padding: 5px;
    border-radius: 10px;
}

.gray-rounded-square>img {
    width: 100%;
}