<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main class="website-background">
        <div class="picture-wrapper">
            <img src="images/step-2.png" alt="step 1">
            <h1> Notification Survey </h1>
        </div>
        <div class="form-content pad-bottom-25">
            <div class="form-wrapper">

                <form action="">
                    <div class="pad-bottom-25 w-350">
                        <label class=" d-inline-block pad-bottom-10"> Would you recommend our Board to other users?</label>
                        <div class="grades-wrapper">
                            <div class="gray-square"> 1</div>
                            <div class="gray-square"> 2</div>
                            <div class="gray-square selected"> 3</div>
                            <div class="gray-square"> 4</div>
                            <div class="gray-square"> 5</div>
                        </div>

                        <div class="opinion">
                            <span>Not at all likely</span>
                            <span>Extremely likely</span>
                        </div>
                    </div>
                    <div class="pad-bottom-25 w-600">
                        <label class="d-inline-block pad-bottom-10"> Pick the 3 things you find most important with the integration documentation: </label>
                        <div>

                            <div class="d-flex space-between">
                                <div class="d-inline-block">
                                    <input type="checkbox" name="tutorials">
                                    <label class="d-inline-block pad-left">Tutorials</label>
                                </div>

                                <div class="d-inline-block">
                                    <input type="checkbox" name="API Reference">
                                    <label class="d-inline-block pad-left">API Reference</label>
                                </div>
                                <div class="d-inline-block">
                                    <input type="checkbox" name="Inline code example">
                                    <label class="d-inline-block pad-left">Inline code example</label>
                                </div>
                            </div>
                            <div class="d-flex space-between">
                                <div class="d-inline-block ">
                                    <input type="checkbox" name="Clear consistent content ">
                                    <label class="d-inline-block pad-left">Clear consistent content</label>
                                </div>
                                <div class="d-inline-block ">
                                    <input type="checkbox" name="Runnable example repos ">
                                    <label class="d-inline-block pad-left">Runnable example repos</label>
                                </div>
                            </div>
                            <div class="d-flex space-between">
                                <div class="d-inline-block ">
                                    <input type="checkbox" name="Support ">
                                    <label class="d-inline-block pad-left">Support</label>
                                </div>
                                <div class="d-inline-block ">
                                    <input type="checkbox" name="Navigation & search ">
                                    <label class="d-inline-block pad-left">Navigation & search</label>
                                </div>
                                <div class="d-inline-block ">
                                    <input type="checkbox" name="Design & usability ">
                                    <label class="d-inline-block pad-left">Design & usability</label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="pad-bottom-25 w-350">
                        <label class="d-inline-block pad-bottom-10">How would you score your navigation experience so far?</label>
                        <div class="grades-wrapper">
                            <div class="gray-rounded-square">
                                <img src="images/expectations-level-1.png" alt="pic1">
                            </div>
                            <div class="gray-rounded-square selected">
                                <img src="images/expectations-level-2.png" alt="pic1">
                            </div>
                            <div class="gray-rounded-square">
                                <img src="images/expectations-level-3.png" alt="pic1">
                            </div>
                            <div class="gray-rounded-square">
                                <img src="images/expectations-level-4.png" alt="pic1">
                            </div>
                            <div class="gray-rounded-square">
                                <img src="images/expectations-level-5.png" alt="pic1">
                            </div>
                        </div>

                        <div class="opinion">
                            <div>
                                <div>Didn't meet</div>
                                <div>expectations</div>
                            </div>
                            <div>
                                <div>Exceeded</div>
                                <div>expectations</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="d-flex space-between m-top-50">
            <a class="btn" href="survey01.html">Back</a>
            <button type="submit" class="btn selected">Send</button>
        </div>

    </main>
</body>

</html>