<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <main class="background-image">
        <div class="wrapper">
            <div class="centered-information ">
                <div class="white-text box"> EPS10</div>
                <h1 class="margin-bottom-15 white-text uppercase letter-spacing">
                    <div> Lorem </div>
                    <div> Ipsum </div>
                </h1>
                <hr class="margin-bottom-15 horrizontal-line">
                <article>
                    <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veritatis officia aspernatur in, mollitia, impedit quidem accusamus minima adipisci aliquam magnam hic quibusdam, obcaecati aliquid atque? Laborum reprehenderit amet error.</p>
                </article>
            </div>
        </div>
    </main>
</body>

</html>