* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
}

main {
    height: 65%;
}

.background-image {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
}

.logo {
    float: left;
    width: 70px;
}

.logo img {
    width: 100%;
}

.nav-bar {
    padding: 30px 30px 0px;
    box-sizing: border-box;
}

.link {
    display: inline-block;
    padding: 2px 12px;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    color: #acfdfe;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    float: left;
}

.link-container {
    float: right;
}

.filled {
    background-color: #fff;
    border-radius: 30px;
    color: blue;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.white-text {
    color: #fff;
}

.container {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing {
    letter-spacing: 10px;
}

.light-blue-text {
    color: #acfdfe;
}

.blue-line {
    color: #acfdfe;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.container-text {
    padding-top: 20px;
}

.title-wrapper {
    width: 25%;
    margin-left: 30px;
}

.divider {
    border: 1px solid #acfdfe;
}

.title-wrapper h1,
.title-wrapper hr,
.title-wrapper p {
    margin-top: 1vh;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    width: 20%;
    margin: auto;
    padding: 25px;
}

.input-group>label {
    margin-bottom: 7px;
}

.form-wrapper>.input-group,
.form-wrapper>hr {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    padding: 5px 5px 5px 20px;
}

.input-group textarea {
    width: 100%;
    border: 1px solid #d3d3d3;
}

.btn {
    background-color: #acfdfe;
    color: #000000;
    padding: 7px 20px 7px 20px;
    border: none;
}

.bold-text {
    font-weight: bold;
}

.form-submit {
    margin: auto;
    width: 70%;
}

.footer-content {
    width: 200px;
    margin: auto;
}

.input-icon {
    position: relative;
}

.input-icon>i {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 14px;
    color: #d3d3d3;
}