<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-bar-title">
                <h1>Best Escapes</h1>
            </div>
            <div class="nav-bar-links">
                <a href="https://google.com"> Home </a>
                <a href="https://google.com"> Specials </a>
                <a href="https://google.com"> Last minute </a>
                <a href="https://google.com"> Register/Login </a>
            </div>

            <button class="menu-button" onclick="showMenu()">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </header>
    <div id="mobile-menu" class="mobile-menu">
        <div class="menu-title">
            <h1 class="white-text">Best Escapes</h1>
            <button class="close-button" onclick="hideMenu()"><i class="fas fa-times"></i></button>

        </div>
        <ul class="menu-links">
            <li><a href="">Home</a></li>
            <li>
                <a href="">Specials</a></li>
            <li><a href="">Last minute</a></li>
            <li><a href="">Register/Login</a></li>
        </ul>
        <div class="social-icons">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
        </div>
    </div>

    <div class="vacation-image clearfix">
        <img src="images/bg.jpg" alt="image">
        <div class="article-content show-mobile-screen">
            <div class="bold-text font-size-4">travel</div>
            <div class="bold-text font-size-3">and inspire</div>
            <div class="bold-text font-size-3">your life</div>
            <p>We make your dreams come true. Just design your travel with us and start to inspire your life </p>
            <p>Your perfect travel is just as far as a few clicks</p>
            <div class="nav-buttons">
                <button><i class="fas fa-caret-left"></i></button>
                <button><i class="fas fa-caret-right"></i></button>
            </div>
        </div>
        <div class="black-flier">
            <div>
                <span class="bold-text"> Weekend escapes </span>
                <p>2 days,48 hours. We have the best weekend escapes for your pleasure.</p>
            </div>
            <div>
                <span class="bold-text">Week trips</span>
                <p>Europe, Asia, a lost island ... take a plane and forget your rutine for a full week.</p>
            </div>
        </div>

        <div class="cream-flier">
            <span class="bold-text"> Design your own holidays</span>
            <p class="pad-15">With our online personalized interface you can design the holidays of your dreams . Select the date and destination and we take care of everything</p>
            <button>Start</button>
        </div>
    </div>

    <div class="article-content hide-mobile-screen">
        <div class="bold-text font-size-4">travel</div>
        <div class="bold-text font-size-3">and inspire</div>
        <div class="bold-text font-size-3">your life</div>
        <p>We make your dreams come true. Just design your travel with us and start to inspire your life </p>
        <p>Your perfect travel is just as far as a few clicks</p>
        <div class="nav-buttons">
            <button><i class="fas fa-caret-left"></i></button>
            <button><i class="fas fa-caret-right"></i></button>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>