<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energetics</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
</head>

<body class="img-body">
    <header>
        <nav class="nav-bar">
            <a class="link rounded mr-25" target="_blank" href="https://google.com">Sign up</a>
            <a class="link mr-25" target="_blank" href="https://google.com">White paper</a>
            <a class="link mr-25" target="_blank" href="https://google.com ">Get started</a>
            <a class="link mr-25" target="_blank" href="https://google.com">Resources</a>
            <a class="link " target="_blank" href="https://google.com ">Community</a>

        </nav>
    </header>

    <div class="wrapper">
        <h1 class="uppercase blue-heading big-text">eco-friendly</h1>
        <h2 class="uppercase blue-heading light-text letter-spacing">energetics</h2>
        <hr class="horrizontal-line">
        <p class="blue-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ducimus neque deserunt, minima omnis, ipsum dolor ut officiis odit harum quasi possimus nesciunt aut unde. Quis quo pariatur repudiandae nulla?</p>
    </div>
    <button class="btn"> Get started now!</button>
</body>

</html>