<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain technology</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="img-body">
    <header>
        <nav class="nav-bar">

            <div class="logo ">
                <!-- nu ai nevoie sa urci pana la root folder al proiectului, poti sa navighezi strict local cand e vorba de navigare relativa. atasez exemplu -->
                <!-- <img src="../Layout Blockchain/Images/logo.png" alt="this is a logo"> -->
                <img src="Images/logo.png" alt="this is a logo">
            </div>

            <div class="link-container ">
                <ul class="navbar-links ">
                    <li> <a class="link filled" href="signup.html">Sign up</a></li>
                    <li> <a class="link" href="about.html">About</a></li>
                    <li> <a class="link" href="services.html">Services</a></li>
                    <li> <a class="link" href="contact.html">Contact</a></li>
                    <li> <a class="link" href="community.html">Community</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- nu inteleg de ce ai div-ul asta aici -->
    <div class="clearfix">

    </div>
    <div class="container">
        <!-- imi place utilizarea de clase cu scop specific. bravo!! -->
        <!-- as fi dorit sa fi putin mai generoasa cu dimensiunea textului si spatierea. ti-am atasat un screenshot de cum vad eu, in cazul in care tu vezi diferit -->
        <h1 class="white-text uppercase"> blockchain</h1>
        <h2 class="white-text uppercase letter-spacing light-blue-text">technology</h2>
        <hr class="blue-line">
        <p class="light-blue-text container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione at cum dolores nemo totam tempora. Magni modi blanditiis architecto sit distinctio quibusdam impedit, perferendis obcaecati eligendi aspernatur dolorem, cumque error.</p>
    </div>

</body>

</html>