<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science conference</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="background">
        <div class="wrapper">
            <div class="heading-wrapper">
                <h1 class="uppercase white-text title">Science conference</h1>
                <h2 class="subtitle"> Javascript all over again</h2>
            </div>

            <!-- sa te obisnuesti sa folosesti si wrapper la img, e mult mai safe mai ales pentru format landscape sau portrait -->
            <img class="left-corner" src="images/corner-left.png" alt="this is a left corner">
            <img class="right-corner" src="images/corner-right.png" alt="this is a right corner">

            <div class="speakers-wrapper">
                <!-- si aici puteai sa fi mai generoasa cu spatierea -->
                <div class="uppercase white-text font-size-2">
                    featured speakers
                </div>
                <div class="speakers-list">

                    <div class="speaker-item">
                        <img src="images/speaker-1.png" alt="speaker1">
                        <!-- semantic, astea nu sunt paragrafe. Sa te obisnuiesti sa folosesti doar pt propozitii/fraze elementul asta, in rest e ok sa folosesti div sau span -->
                        <!-- si aici ai nevoie de mai mult spatiu, iti adaug un screenshot in cazul in care la tine se incadreaza; trebuie sa fie ok si la user -->
                        <p class="white-text">John Bee</p>
                    </div>
                    <div class="speaker-item">
                        <img src="images/speaker-2.png" alt="speaker2">
                        <p class="white-text">John Fox</p>
                    </div>
                    <div class="speaker-item">
                        <img src="images/speaker-3.png" alt="speaker3">
                        <p class="white-text">John Rabbit</p>
                    </div>
                    <div class="speaker-item">
                        <img src="images/speaker-4.png" alt="speaker4">
                        <p class="white-text">Frank Bow</p>
                    </div>
                </div>


            </div>
            <div class="event-details-wrapper">
                <div class="event-information">
                    <img src="images/icon-location.png" alt="location icon">
                    <!-- mai e nevoie de spatiere aici, margin, padding, chiar si position relative cu left -->
                    <div class="font-size-2 white-text">CBC, Timisoara</div>
                </div>
                <div class="event-information">
                    <img src="images/icon-calendar.png" alt="icon calendar">
                    <div class="font-size-2 white-text">May 2020</div>
                </div>
                <div class="event-information">
                    <img src="images/icon-clock.png" alt="clock icon">
                    <div class="font-size-2 white-text">09:00</div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>