        body {
            height: 100vh;
        }
        
        * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }
        
        .background {
            background-image: url(Images/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
        
        .uppercase {
            text-transform: uppercase;
        }
        
        .white-text {
            color: #fff;
        }
        
        .title {
            font-size: 4vw;
            width: 50px;
        }
        
        .subtitle {
            color: #778899;
            background-color: #fff;
            font-size: 2vw;
            padding: 10px;
            font-weight: 100;
        }
        
        .heading-wrapper {
            width: 33%;
        }
        
        .font-size-2 {
            font-size: 1.5vw;
        }
        
        .wrapper {
            padding: 80px;
        }
        
        .left-corner {
            position: absolute;
            bottom: 80px;
        }
        
        .right-corner {
            position: absolute;
            right: 80px;
            bottom: 80px
        }
        
        .speaker-item>img {
            width: 100%;
            height: auto;
        }
        
        .speakers-list {
            display: flex;
            text-align: center;
        }
        
        .speakers-list .speaker-item {
            margin-right: 15px;
        }
        
        .speakers-wrapper {
            position: absolute;
            right: 250px;
            width: 25vw;
            text-align: center;
            bottom: 250px;
        }
        
        .event-details-wrapper {
            display: flex;
            justify-content: space-between;
            height: 50px;
            width: 80%;
            position: absolute;
            bottom: 80px;
        }
        
        .event-information {
            display: flex;
            justify-content: center;
            text-align: center;
            height: 100%;
            width: 33%;
        }