<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECTS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header class="header-image">
        <nav class="navbar">
            <a class="uppercase white-text no-text-decoration pad-30 text-height" href=""> HOME </a>
            <a class="uppercase white-text no-text-decoration pad-30 text-height" href=""> ABOUT US </a>
            <a class="uppercase white-text no-text-decoration pad-30 text-height" href=""> PROJECTS </a>
            <a class="uppercase white-text no-text-decoration pad-30 text-height" href=""> BLOG </a>
            <a class="uppercase white-text no-text-decoration pad-30 text-height" href=""> CONTACT US  </a>
        </nav>
        <h1 class="white-text uppercase distanced-letters-10 ">projects</h1>
        <div class="grey-box white-text pad-left text-height">
            <div class="margin-left">go.arch</div>
            <div class="vertical-line margin-top "></div>
            <div><i class="fab fa-instagram-square grey-fill"></i></div>
            <div><i class="fab fa-facebook-f grey-fill"></i></div>
        </div>
    </header>

    <div class="concert-hall image-container">
        <div class="uppercase white-text bold-text ">concert hall</div>
        <div class="uppercase white-text bold-text ">in new york</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">architecture</div>
    </div>

    <div class="modern-bedroom image-container">
        <div class="uppercase white-text bold-text">modern bedroom</div>
        <div class="uppercase white-text bold-text">in gorizia</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">interior</div>
    </div>

    <div class="modern-hotel image-container">
        <div class="uppercase white-text bold-tex">modern hotel</div>
        <div class="uppercase white-text bold-tex">in london</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">architecture</div>
    </div>

    <div class="modern-bedroom-gorizia image-container">
        <div class="uppercase white-text bold-tex">modern bedroom</div>
        <div class="uppercase white-text bold-tex">in paris</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">interior</div>
    </div>

    <div class="modern-library image-container">
        <div class="uppercase white-text bold-tex">modern library</div>
        <div class="uppercase white-text bold-tex">in chicago</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">architecture</div>
    </div>

    <div class="modern-kitchen image-container">
        <div class="uppercase white-text bold-tex">modern kitechen</div>
        <div class="uppercase white-text bold-tex">in bucharest</div>
        <div class="uppercase rotated-text white-text distanced-letters-5">interior</div>
    </div>

</body>

</html>