* {
    padding: 0;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
}

html,
body {
    height: 100%;
}

.header-image {
    background-image: url("images/bg-header.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.white-text {
    color: #fff;
}

.no-text-decoration {
    text-decoration: none;
}

.navbar {
    text-align: right;
    padding: 20px;
    padding-right: 100px;
}

.pad-10 {
    padding: 10px;
}

.pad-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.text-height {
    font-size: 1.5rem;
}

.distanced-letters-10 {
    letter-spacing: 10px;
}

.distanced-letters-5 {
    letter-spacing: 5px;
}

header>h1 {
    font-size: 3.5rem;
    position: absolute;
    top: 60%;
    left: 60%;
}

.grey-box {
    background-color: #2b2b2b;
    width: 15%;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 0;
}

.vertical-line {
    border-left: 2px solid #3d3d3d;
    height: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

.grey-fill {
    color: #3d3d3d;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

.pad-left {
    padding-left: 30px;
}

.concert-hall {
    background-image: url(images/concert-hall.jpg);
}

.modern-bedroom {
    background-image: url(images/bedroom-2.jpg);
}

.modern-hotel {
    background-image: url(images/hotel.jpg);
}

.modern-bedroom-gorizia {
    background-image: url(images/bedroom-1.jpg);
}

.modern-library {
    background-image: url(images/library.jpg);
}

.modern-kitchen {
    background-image: url(images/kitchen.jpg);
}

.image-container {
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    width: 33.3%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
}

.bold-text {
    font-weight: 900;
}

.rotated-text {
    transform: rotate(-90deg);
    width: fit-content;
    position: absolute;
    left: -10%;
    bottom: 15%;
}

.form-wrapper {
    background-color: #2b2b2b;
    width: 100%;
    text-align: center;
    padding: 30px;
    clear: both;
    box-sizing: border-box;
}

.projetcs-button {
    background-color: #3d3d3d;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.orange-text {
    color: #c09c78;
}

.form-wrapper>form>h2 {
    display: inline-block;
    padding: 25px;
    font-size: 50px;
}

input::placeholder {
    color: #fff;
}

.input-box {
    border: 0;
    box-sizing: border-box;
    background-color: #3d3d3d;
    width: 100%;
}

.input-group {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 48%;
}

.contact-form {
    width: 80%;
    display: flex;
    margin: auto;
}

.contact-form>div:first-child {
    width: 66.6%;
}

.contact-form>div:last-child {
    width: 33.3%;
}

.contact-form>div:last-child>textarea {
    height: 100%;
}